.full{
    display: inline-grid;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    margin-right: 10px;
    background-color: rgb(245, 231, 215);
}

h3{
    text-align: center;
}

.base{
    background-color: rgb(199, 168, 127);
    border-radius: 20px;
    box-shadow: 5px 5px 7px rgb(139, 139, 139);
    text-align: center;
    cursor: pointer;
    
}