* {
    margin:0;
    padding:0;
}

.header{
    width: 120rem;
    height: 19rem;
}

.logo{
    width: 17rem;
    height: 17rem;
    position: absolute;
    margin-top: -18rem;
    margin-left: 5rem;
}

nav ul{
    text-align: center;
}

nav ul li{
    display: inline-block;
    padding-left: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}