.img{
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.users{
    display: flex;
}

.base{
    background-color: rgb(199, 168, 127);
    border-radius: 20px;
}

.imgg{
    border-radius: 20px;
}