.users{
    display: flex;
    justify-content: space-between;
}

.base{
    background-color: rgb(199, 168, 127);
    border-radius: 20px;
}

.imgg{
    border-radius: 20px;
}

.img{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    margin-right: 10px;
}

.fecha{
    padding-left: 10px;
}

.titulo{
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 10px;
}

.rojo{
    color: red;
}

.verde{
    color: green;
}

.naranja{
    color: orange;
}

.gris{
    color: gray;
}