* {
    margin:0;
    padding:0;
}

.header{
    width: 120rem;
    height: 19rem;
}

#cuerpo{
    background-color: rgb(50, 50, 50);
    margin-top: -5px;
}

body{
    background-color: rgb(100, 100, 100);
}

.logo{
    width: 17rem;
    height: 17rem;
    position: absolute;
    margin-top: -18rem;
    margin-left: 5rem;
    z-index: 99;
}

nav ul{
    text-align: center;
}

nav ul li{
    display: inline-block;
    padding-left: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

.home{
    display: flex;
    justify-content: space-evenly;
    padding-top: 5rem;
}

.home-img{
    height: 25rem;
    width: 40rem;
}

footer{
    margin-top: 10rem;
    background-color: rgb(50, 50, 50);
}

#pedau{
    padding-top: 15px;
    display: flex;
    justify-content: center;
}

#aaa{
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: aliceblue;
}

.footer-img{
    height: 2.5rem;
    width: 2.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.texto{
    padding-top: 1rem;
    padding-left: 5rem;
    padding-right: 5rem;
}

.horseLuis h1{
    display: flex;
    justify-content: center;
    align-self: center;
}

.horseLuis img{
    margin-bottom: 5rem;
    width: 27rem;
    height: 22rem;
}

.horseLuis{
    display: flex;
    justify-content: space-around;
}

.Contact__Card {
    width: 600px;
    height: 500px;
    margin-left: 30%;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-template-rows: 1fr 1fr 150px 1fr;
}

.Input__Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Text__Container {
    grid-column: span 2;
}

.Button__Container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.Input {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    overflow: visible;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    border: 2px solid lightblue;
    border-radius: 0.5rem;
    width: 100%;
}

.Input:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgb(173, 216, 230, 0.5);
}

.Message {
    resize: none;
}

.Label {
    padding-bottom: 0.25rem;
    font-weight: 600;
}

.Button {
    background-color: darkblue;
    border-color: #dbdbdb;
    border-width: 1px;
    color: white;
    font-weight: 600;
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
}

.Button:hover {
    border-color: #b5b5b5;
}

.Button:focus {
    outline: none;
    border-color: #485fc7;
    color: #363636;
    box-shadow: 0 0 0 0.125em rgba(72, 95, 199, 0.25);
}

.lorem{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.lorem h1{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.lorem p{
    margin-left: 15rem;
    margin-right: 15rem;
}

.lorem img{
    margin-top: 2rem;
}

.escandalo{
    width: 50rem;
    height: 40rem;
}