<div class="festivo">
  <h1 [ngStyle]="{'color':colorNacional}">Festiu Nacional</h1>
  <h1 [ngStyle]="{'color':colorRegional}">Festiu Regional</h1>
  <h1 [ngStyle]="{'color':colorLocal}">Festiu Local</h1>
  <h1 [ngStyle]="{'color':colorCentro}">Festiu Centre</h1>
</div>
<div class="full">
  <div *ngFor="let mes of calendar">
    <h1>{{mes.nombre}}</h1>
    <div class="tabla1">
      <td *ngFor="let semana of mes.semana">
        <tr>{{semana}}</tr>
      </td>
      <td *ngFor="let dias of mes.dias; let i = index">
        <div *ngIf="!mes.festivos[i]">
          <tr>{{dias}}</tr>
        </div>
          <div *ngIf="mes.festivos">
            <div *ngFor="let nacional of mes.nacional">
              <div *ngIf="dias == nacional">
                <tr ngClass="nacional">{{dias}}</tr>
              </div>
            </div>
            <div *ngFor="let regional of mes.regional">
              <div *ngIf="dias == regional">
                <tr ngClass="regional">{{dias}}</tr>
              </div>
            </div>
            <div *ngFor="let local of mes.local">
              <div *ngIf="dias == local">
                <tr ngClass="local">{{dias}}</tr>
              </div>
            </div>
            <div *ngFor="let centro of mes.centro">
              <div *ngIf="dias == centro">
                <tr ngClass="centro">{{dias}}</tr>
              </div>
            </div>
            
          </div>
      </td>
    </div><br>
  </div>
</div>






<!-- <div class="festivo">
  <h1 [ngStyle]="{'color':colorNacional}">Festiu Nacional</h1>
  <h1 [ngStyle]="{'color':colorRegional}">Festiu Regional</h1>
  <h1 [ngStyle]="{'color':colorLocal}">Festiu Local</h1>
  <h1 [ngStyle]="{'color':colorCentro}">Festiu Centre</h1>
</div>
<div class="full">
  <div *ngFor="let meses of septiembre[0].semana; let i = index">
    <h1>Septiembre</h1>
      <div class="tabla1">
        <td>
          <tr>{{semana}}</tr>
        </td>
        <td *ngFor="let dias of septiembre[0].dias; let i = index">
          <div *ngIf="dias != septiembre[0].nacional && dias != septiembre[0].regional && dias != septiembre[0].local && dias != septiembre[0].centro">
            <tr>{{dias}}</tr>
          </div>
          <div *ngIf="dias == septiembre[0].nacional">
            <tr ngClass="nacional">{{dias}}</tr>
          </div>
          <div *ngIf="dias == septiembre[0].regional">
            <tr ngClass="regional">{{dias}}</tr>
          </div>
          <div *ngIf="dias == septiembre[0].local">
            <tr ngClass="local">{{dias}}</tr>
          </div>
          <div *ngIf="dias == septiembre[0].centro">
            <tr ngClass="centro">{{dias}}</tr>
          </div>
        </td>
      </div><br>
  </div>
  <div>
    <h1>Octubre</h1>
    <div class="tabla1">
      <td *ngFor="let semana of octubre[0].semana; let i = index">
        <tr>{{semana}}</tr>
      </td>
      <td *ngFor="let dias of octubre[0].dias; let i = index">
        <div *ngIf="dias != octubre[0].nacional && dias != octubre[0].regional && dias != octubre[0].local && dias != octubre[0].centro">
          <tr>{{dias}}</tr>
        </div>
        <div *ngIf="dias == octubre[0].nacional">
          <tr class="nacional">{{dias}}</tr>
        </div>
        <div *ngIf="dias == octubre[0].regional">
          <tr ngClass="regional">{{dias}}</tr>
        </div>
        <div *ngIf="dias == octubre[0].local">
          <tr ngClass="local">{{dias}}</tr>
        </div>
        <div *ngIf="dias == octubre[0].centro">
          <tr ngClass="centro">{{dias}}</tr>
        </div>
      </td>
    </div>
  </div>
</div> -->