body{
  background-color: #fefed9;
  font-family: 'Helvetica';
  font-size: 14px;
}

.tabla1{
  margin-top: 1.5em;
  margin-left: 3em;
  display: grid;
  grid-template-columns: 3rem 3rem 3rem 3rem 3rem 3rem 3rem;
}

.tabla1 th, .tabla1 td{
  text-align: center;
  padding: .2em .9rem;
}

.tabla1 caption{
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
  margin-bottom: .5em;
}

div h1{
  margin-left: 5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.festivo{
  display: flex;
  justify-content: space-around;
}

.festivo h1{
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.full{
  display: flex;
  justify-content: left;
}

.nacional{

	background-color: rgb(0, 212, 28);
}

.regional{
	background-color: rgb(179, 127, 228);
}

.local{
	background-color: rgb(202, 102, 152);
}

.centro{
	background-color: rgb(211, 208, 9);
}
