* {
    display: inline-grid;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    margin-right: 10px;
    background-color: rgb(245, 231, 215);
}

button{
    cursor: pointer;
}
p{
    font-size: 40px;
    cursor: pointer;
}